body {
    margin: 0;
    background-color: rgba(43, 186, 43, 0.524);
  }

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box-content {
    max-width: 600px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
}

h1 {
    text-align: center;
}